@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}

body {
    background: #FFFFFF;
    background-image: url('/images/circles.png'), url('/images/circles-2.png');
    background-position: left top 100px, right top 400px;
    background-repeat: no-repeat, no-repeat;
    background-size: 414px, 414px, 414px;
}

.hero-model {
    background-image: url('/images/model.png');
    background-repeat: no-repeat;
    background-position: left 50px top;
}
